* {
  --main-color: #555184;
  --second-color: #d6cfe3;
  --text-color: #fee9ce;
  --color2: #fffcf5;
}

/* ---------------------INTRO---------------------- */
main {
  margin: 2rem;
  background-color: var(--second-color);
  width: 30%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  box-shadow: -2px 2px 5px;
  width: fit-content;
}
main h1 {
  font-size: 5rem;
  margin: 0 1rem 0 1rem;

}
#intro {
  border: 1px solid var(--main-color);
  background-color: var(--second-color);
  margin: 2rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: -2px 2px 5px;
  width: auto;
}
#intro:hover {
  transform: scale(1.02);
}
#intro hr {
  border-top: 5px solid #555184;
}

/* ---------------------ABOUT US PAGE---------------------- */
.developers,
.leader {
  border: 1px solid var(--main-color);
  background-color: var(--second-color);
  padding: 1.5rem;
  margin: 1rem 2rem 0 2rem;
  display: flex;
  gap: 1.5rem;
  border-radius: 25px;
  box-shadow: 2px 2px 5px;
}

.developers:hover,
.leader:hover {
  transform: scale(1.02);
}

#members .developers {
  align-items: center;
}

.leader {
  justify-content: center;
  align-items: center;
}

#members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile-img {
  width: 200px;
  border-radius: 50%;
}

.contact-info {
  display: flex;
  gap: 1rem;
}
.contact-info img {
  width: 35px;
}
.contact-info img:hover {
  transform: scale(1.2);
}