
 @font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono.ttf);
}

body {
  font-family: JetBrainsMono;
  margin: 0;
}

* {
  --main-color: #555184;
  --second-color: #d6cfe3;
  --text-color: #fee9ce;
  --color2: #fffcf5;
  --color3: #f7f3ff;
}

hr {
  border-top: 3px solid var(--main-color);
}

/* --------------------------NAV BAR---------------------------- */
nav {
  background-color: var(--main-color);
  padding: 0 2rem 0 1rem;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 2px 5px;
  align-items: center;
}

nav .nav1 {
  display: flex;
  color: var(--text-color);
  align-items: center;
}
nav .nav1 h2 {
  margin: 0;
}
nav .nav2 {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
}
nav .nav2 li {
  cursor: pointer;
  padding: 0.5rem;
}
nav .nav2 li:hover {
  border: 2px solid black;
  background-color: #28293d;
  border-radius: 1rem;
  transform: scale(1.1);
}

nav .nav2 li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  padding: 1rem;
}
nav .nav2 li a:hover {
  color: var(--color3);
}
nav .nav2 li a:active {
  color: var(--main-color);
}

nav .nav1 .logo-icon {
  width: 6rem;
}

/* ---------------------MAIN FRAME---------------------- */
#main-frame {
  display: flex;
  height: 100vh;
  margin: 2rem;
  gap: 1rem;
}

#main-frame #profile .navigations ul li,
#main-frame #profile .navigations ul li a {
  list-style-type: none;
  text-decoration: none;
}

/* ---------------------PROFILE SECTION---------------------- */
#main-frame #profile {
  background-color: var(--second-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0 2px 5px;
} 
#main-frame #profile .main-profile {
  text-align: center;
}
#main-frame #profile .main-profile img {
  width: 5rem;
  border-radius: 100%;
}
#main-frame #profile .main-profile p {
  margin: 0.5rem;
}
#main-frame #profile .navigations ul {
  padding-left: 2rem;
}
#main-frame #profile .navigations li {
  padding: 0.5rem;
  width: fit-content;
}
#main-frame #profile .navigations li:hover {
  background-color: var(--color2);
  border-radius: 10px;
  border: 1px solid var(--main-color);
}
#main-frame #profile .navigations li a{
  color: rgb(79, 79, 79);
  padding: 1rem;
}
#main-frame #profile .navigations li a:hover {
  font-weight: bold;
  color: black;
}
#main-frame #profile .navigations img{
  width: 1rem;
  margin-right: 0.4rem;
}

/* ---------------------COPYRIGHT---------------------- */
footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

footer p {
  margin: 0.5rem;
}