* {
  --main-color: #555184;
  --second-color: #d6cfe3;
  --text-color: #fee9ce;
  --color2: #fffcf5;
  --color3: #f7f3ff;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono.ttf);
}

/* ---------------------PROFILE INFORMATION---------------------- */

#profile-info {
  background-color: var(--second-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 80%;
  box-shadow: 0 2px 5px;
}

#profile-info main {
  display: flex;
  gap: 1rem;
}

/* ACCOUNT INFO */
#profile-info .box {
  background-color: var(--color3);
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

#profile-info .box h2 {
  margin: 0;
}

#profile-info .box1 {
  box-shadow: 0 0 8px var(--main-color);
  background-color: var(--text-color);
  margin-top: 1rem;
  padding: 2rem 1rem 2rem 1rem;
  width: 30%;
  border-radius: 5px;
}

#profile-info .box1 .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#profile-info .box1 img {
  width: 10rem;
  border-radius: 50%;
}

#profile-info .box1 h5 {
  margin: 0.5rem 0 0.5rem 0;
}

#profile-info .box1 .profile #pfp-upload {
  padding: 0.5rem;
  background: var(--main-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: JetBrainsMono;
  width: 93%;
  margin-bottom: 2rem;
}

#profile-info .box1 .profile #pfp-upload:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  font-weight: bold;
}

#profile-info .box1 .user-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#profile-info .box1 .user-input input {
  padding: 0.3rem;
  text-align: center;
  font-family: JetBrainsMono;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--color2);
  height: 1.5rem;
  width: 95%;
}

/*FULL INFORMATION OF A STUDENT */
#profile-info .box2 {
  border-radius: 5px;
  box-shadow: 0 0 8px var(--main-color);
  background-color: var(--text-color);
  margin-top: 1rem;
  padding: 1rem;
  width: 70%;
}

#profile-info .box2 .scroll-box {
  overflow-y: auto;
  height: 67vh;
  padding-right: 0.3rem;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--color2);
  margin-bottom: 1rem;
}

#profile-info .box2 fieldset {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

#profile-info .box2 legend {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main-color);
}

#profile-info .box2 .info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

#profile-info .box2 label {
  margin-bottom: 0.5rem;
  display: block;
}

#profile-info main .box2 input,
.box2 select {
  padding: 0.3rem;
  text-align: center;
  font-family: JetBrainsMono;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--color2);
  height: 1.5rem;
}

#profile-info main .box2 select {
  height: 2.2rem;
  cursor: pointer;
}

#profile-info main .box2 select:hover {
  background-color: var(--main-color);
  color: var(--color2);
}

#profile-info main .box2 select:focus {
  background-color: var(--color3);
  color: black;
}

#profile-info .box2 .info #gender,
#program {
  text-align: start;
}

#profile-info .box2 .button {
  display: flex;
  justify-content: end;
}

#profile-info .box2 #edit-but {
  padding: 0.5rem;
  border-radius: 10px;
  font-family: JetBrainsMono;
  background-color: var(--main-color);
  font-weight: bold;
  color: var(--color3);
  display: block;
  justify-content: end;
}

#profile-info .box2 #edit-but:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  transform: scale(1.1);
  cursor: pointer;
}

#profile-info .box2 #edit-but:active {
  color: black;
  background-color: var(--color3);
}

#profile-info .box2 .box2-password fieldset {
  padding: 0 1rem 0 1rem;
}

#profile-info .box2 .box2-password img {
  width: 1.5rem;
}

#profile-info .box2 .box2-password button {
  align-items: center;
  display: flex;
  justify-self: end;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px var(--main-color);
  background-color: var(--color2);
}

#profile-info .box2 .box2-password button:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

#profile-info .box2 .box2-password button:active {
  background-color: var(--main-color);
}

.disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}