sign-up.html
* {
  --main-color: #555184;
  --second-color: #d6cfe3;
  --text-color: #fee9ce;
  --color2: #fffcf5;
  --color3: #f7f3ff;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono.ttf);
}

h1, h2, h3, p {
    margin: 0;
}

/* --------------SIGN UP PAGE-------------- */

#sign-up-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* SIGN UP HEADER */
main .sign-up-header {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding-right: 2rem;
    border-radius: 10px 10px 0 0;
    color: var(--color2);
}
main .sign-up-header img {
    width: 15rem;
}
main .sign-up-header div h1, h2 {
    align-items: center;
    margin: 0.5rem;
}
/* sign-up PAGE */
main .sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--color3);
    border-radius: 0 0 10px 10px;
    gap: 1rem;
}
main .sign-up-page .box {
    display: flex;
}
main .sign-up-page .box div {
    align-items: center;
    display: flex;
    gap: 0.3rem;
}
main .sign-up-page img {
    padding-bottom: 0.2rem;
}
main .sign-up-page input {
    padding: 0.3rem;
    font-size: 1.1rem;
    font-family: JetBrainsMono;
    border-radius: 5px;
    text-align: start;
    border-color: var(--main-color);
}

main .sign-up-page #sign-up {
    font-family: JetBrainsMono;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1rem;
    border-color: var(--main-color);
    background-color: var(--text-color);
    padding: 0.4rem 1rem;
}
main .sign-up-page #sign-up:hover {
    border-color: var(--text-color);
    background-color: var(--color2);
    cursor: pointer;
    color: var(--main-color);
}
main .sign-up-page #sign-up:active {
    background-color: var(--second-color);
}
main .sign-up-page div img {
    width: 1.2rem;
    align-self: center;
}

main .sign-up-page .sign-in a {
    text-decoration: none;
}

main .sign-up-page .sign-in a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--main-color);
}


#requirements {
border: 1px solid #ddd;
border-radius: 4px;
padding: 10px;
margin-top: 10px;
background-color: #fafafa;
display: none; 
position: absolute;
transform: translate(4rem, 15rem);
}

#requirements ul {
list-style: none;
padding: 0%;
margin: 0%;
}

#requirements li {
margin: 5px 0;
font-size: 14px;
}

.valid {
color: green;
}

.invalid{
color: red;
}

#toggle{
    position: absolute;
    transform: translate(20rem, 0.5rem);
    cursor: pointer;
    user-select: none;
    color: blue;
}

#Roles{
    margin-right: 5rem;
    transform: translateX(1rem);
}

#ihhh{
    margin-left: 2rem;
}